<h2>O nas</h2>

<p>
4fitter będzie aplikacją internetową poświęconą zdrowemu stylowi życia i kształtowaniu sylwetki. Głównym założeniem projektu ma być stworzenie platformy łączącej w sobie cechy centrum informacji na temat zdrowego żywienia, prawidłowego treningu oraz naukowego podejścia do trendów w fitnessie. Oferować będzie możliwość spersonalizowania diety dla zarejestrowanych użytkowników.
<br /><h3>Cechy:</h3><br />
1. Możliwość stworzenia spersonalizowanego konta użytkownika:
generowanie spersonalizowanego wzorca dietetycznego
notyfikacje o posiłkach przesyłane na maila
dziennik progresu
możliwość dodania własnych ustawień posiłków do notyfikacji<br />
2. Dostęp do artykułów i filmów tematycznych ze świata fitnessu i dietetyki:
Trening
Dieta
Badanie naukowe
Suplementy<br />
3. Spersonalizowany plan treningowy tabaty (trening HIT)<br />
4. Obliczanie wskaźników fizycznych oraz dietetycznych
obliczanie makroskładników
maksymalny wynik w konkurencji
BMI
kalkulator posiłków
</p>
