@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <button id="user-button" class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="~/Content/images/user.png" />
    </button>
    <ul class="dropdown-menu">
        <li><a href="/Home/UserPanel">Ulubione artykuły</a></li>
        <li><a href="/Manage">Zarządzanie kontem</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("ZAREJESTRUJ SIĘ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("LOGOWANIE", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
