body {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    width: 100%;
    min-height: 64px;
    background: #1d335c;
}

#page-container {
    min-height: 100vh;
    height: auto !important;
    height: 100vh;
    background: #eeeeee;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

#search-box {
    float: left;
    padding-top: 36px;
    margin-left: 24px;
}

#input-search {
    display: block;
    border-radius: 0;
    font-size: 24px;
    height: 38px;
}

#search-form {
    display: flex;
    align-content: center;
}

#button-search {
    display: block;
    border-radius: 0;
    background-color: #19d368;
    border-color: #19d368;
}

.hidden-field {
    display: none;
}

#favorites-remove, #favorites-add {
    display: none;
}

.navbar-inverse {
    background-color: #1d335c;
    border: 0;
}

.navbar-nav {
    padding-top: 32px;
    margin-left: 24px;
    font-weight: bold;
}

.body-content {
    padding-top: 128px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
