body {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    width: 100%;
    min-height: 64px;
    background: #1d335c;
}

#search-box {
    display: inline-block;
}

.hidden-field {
    display: none;
}

#favorites-remove, #favorites-add {
    display: none;
}

.navbar-inverse {
    background-color: #1d335c;
    border: 0px;
}

.body-content {
    padding-top: 128px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
